body {
    padding: 0;
    margin: 0;
}
html, body, #map{
    height: 100%;
    width: 100%;
    
}
#map{
    position: relative;
}
#time{
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    float: left;
    margin: 0px 0px 10px 10px;
    font-size: 1.5em;
    font-weight: bold;
}